$color-blue: hsl(223, 87%, 63%);
$color-blue-light: hsl(223, 100%, 88%);
$color-red: hsl(354, 100%, 66%);
$color-gray: hsl(0, 0%, 59%);
$color-dark: hsl(209, 33%, 12%);
$color-white: #fff;

$font-primary: 'Libre Franklin', sans-serif;

